{
    "root": true,
    "env": {
     "es6": true,
     "node": true
    },
    "extends": [ "airbnb", "plugin:import/warnings" ],
    "parserOptions": {
     "ecmaVersion": 2017,
     "sourceType": "module",
     "ecmaFeatures": {
      "experimentalObjectRestSpread": true
     }
    }
   }